class <%= class_name %> < ApplicationRecord
<% attributes.select(&:reference?).each do |attribute| -%>
  belongs_to :<%= attribute.name %>
<% end -%>

  # Validations
<% attributes.reject(&:reference?).each do |attribute| -%>
  validates :<%= attribute.name %>, presence: true
<% end -%>
end
